Jabberpoint/jabberpoint.dtd

<!--
 Document Type Definition voor JabberPoint presentatties
 $Id$
 -->
<!ELEMENT showtitle (#PCDATA)>
<!ELEMENT presentation (showtitle,(slide|toc)+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT slide (title, subject?, item*)>
<!ELEMENT toc (title?)>
<!ELEMENT item (#PCDATA)>
<!ELEMENT subject (#PCDATA)>
<!ELEMENT toc (#PCDATA)>
<!ATTLIST item kind CDATA #REQUIRED>
<!ATTLIST item level CDATA #REQUIRED>
